.containerWrapper {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 105vh;
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 420px) {
    .containerWrapper {
        padding: 0;
    }

    .containerWrapper > div {
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .containerWrapper {
        padding: 0;
    }
    .containerWrapper > div {
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .containerWrapper > div {
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }
}
