.containerWrapper {
    margin: 20px;
    padding: 0;
    height: 105vh;
}

@media screen and (max-width: 420px) {
    .containerWrapper {
        padding: 0;
    }

    .containerWrapper > div {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .containerWrapper {
        padding: 0;
    }
    .containerWrapper > div {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .containerWrapper > div {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
}
