.containerCR {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

@media screen and (max-width: 420px) {
    .containerCR {
        display: flex;
        align-content: space-around;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
    }
}

@media screen and (max-width: 768px) {
    .containerCR {
        display: flex;
        align-content: space-around;
        justify-content: center;
        flex-direction: column;
        
    }
}
